/* Get animal header container */
.animal_gridbox {
    text-align: center;
    width: 280px;
    height: 280px;
    text-decoration: none;
    margin-bottom: calc(var(--spaceJumbo) * 3.5);
}
.animal_hebox {
    border-radius: var(--roundedCircle);
    border: var(--spaceXXSM) solid var(--primaryColor);
    cursor: pointer;
    margin-bottom: var(--spaceLG);
    position: relative;
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
.animal_hebox_img {
    width: 280px;
    height: 280px;
    border-radius: var(--roundedCircle);
}
.animal_gridbox:hover .animal_hebox {
    transform: scale(1.075);
    box-shadow: rgba(249, 170, 12, 0.35) 0px 5px 15px;
}
.animal_gridbox h4 {
    font-weight: bold;
    color: var(--primaryColor);
    margin-bottom: var(--spaceMini);
}
.animal_gridbox h6 {
    font-weight: 500;
    font-size: var(--textLG);
    color: var(--whiteColor) !important;
}
.animal_hebox_props {
    position: absolute;
    top: -5px;
    left: -5px;
    background: var(--successBG);
    padding: var(--spaceXSM) var(--spaceSM);
    border-radius: var(--roundedMD);
    border: 3.5px solid var(--primaryColor);
}
.animal_zone_icon {
    height: 36px;
}

/* Get news container */
.news_gridbox {
    width: 100%;
    border: var(--spaceMini) solid var(--primaryColor);
    border-radius: var(--roundedJumbo);
    padding: var(--spaceMD);
    margin-bottom: var(--spaceLG);
    -webkit-transition: all 0.4s !important;
    -o-transition: all 0.4s !important;
    transition: all 0.4s !important;
}
.news_gridbox:hover {
    transform: scale(1.035);
    box-shadow: rgba(249, 170, 12, 0.35) 0px 5px 15px;
}
.news_nebox_image {
    width: 100%;
    height: 100%;
    border-radius: var(--roundedJumbo);
}
.news_nebox_props {
    padding-bottom: var(--spaceLG);
    color: var(--darkColor);
    font-size: var(--textXMD);
}
.news_content_box {
    min-height: 230px;
}
.news_header_desc {
    overflow: hidden;
    color: var(--whiteColor);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    line-clamp: 9;
    -webkit-box-orient: vertical;
}